#mySidenav a {
    position: relative; /* Position them relative to the browser window */
    left: 0px; /* Position them outside of the screen */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: red; /* White text color */
    font: bolder;
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }


body {background-color: blue;}

#Lucas {
    float:right;
    position: relative;
    border-radius: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: white;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;  
    color: white;
}